* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
  height: 100%;
}

:root {
  --main-color: #dfcee8;
  --main-text-color: #97306c;
}

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: black;
}

a {
  color: #613876;
  position: relative;
  text-decoration: none;
}

ul {
  margin: 0;
}

h1 {
  font-size: 28px;
  margin: 0;
}

h2 {
  font-size: 22px;
  margin: 0 0 0.5em 0;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  margin: 0 0 0.5em 0;
  text-transform: capitalize;
}

h4 {
  margin: 0 0 0.5em 0;
}

p {
  margin: 0;
}

.container {
  display: flex;
  gap: 16px;
  padding: 20px 40px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.icon {
  width: 20px;
  height: 20px;
  align-self: center;
}

.column.wide {
  flex: 2;
}

.section {
  padding: 1em;
  position: relative;
}

.section::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 90%;
  height: 2px;
  background: var(--main-color);
  border-radius: 999px;
  transform: translateX(-50%);
}

.column::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 2px;
  height: 80%;
  background: var(--main-color);
  border-radius: 999px;
  transform: translateY(-50%);
}

.column.wide .section::after {
  left: 0;
  transform: none;
  width: 100%;
}

.section:last-child::after,
.column:last-child::after {
  content: none;
}

#profile {
  text-align: center;
}

#about {
  padding-right: 25px;
  text-align: justify;
}

#about p {
  padding-bottom: 5px;
}

.profile-picture {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  object-fit: cover;
}

.position {
  margin: 0;
}

#education ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.contact-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0;
  list-style-type: none;
}

.contact-list > li {
  display: flex;
  align-items: flex-end;
  gap: 8px;
}

#work-experience {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title > * {
  margin: 0;
}

#projects {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.project-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  margin-top: auto;
  background-color: var(--main-color);
  padding: 20px 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-copyright {
  display: flex;
  align-items: flex-end;
  gap: 12px;
  flex-wrap: wrap;
}

@media (pointer: fine) {
  a:hover:after {
    width: 100%;
  }

  a::after {
    position: absolute;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background: var(--main-color);
    transition: 0.3s;
    right: 0;
  }
}

@media (max-width: 600px) {
  .container {
    display: flex;
    gap: 8px;
    padding: 10px 20px;
    flex-direction: column;
  }

  .column::after {
    content: none;
  }
}
