* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%;
}

:root {
    --main-color: #D7AFED;
    --main-text-color: #97306C;
}

body {
    height: 100vh;

    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: black;
}

a {
  color: black;
  position: relative;
  padding-bottom: 3px;
  text-decoration: none;
}

.header {
  background-color: var(--main-color);
  width: 100%;
  padding: 10px;
}

.nav-list {
  display: flex;
  justify-content: end;
}

.nav-item {
  list-style-type: none;
  margin: 5px 10px;
}

.nav-link {
  text-decoration: none;
  cursor: pointer;
}

.main {
  margin: auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 20px 40px;
}

.section {
  border-bottom: 5px solid #D7AFED;
}

.section#languages {
  border-bottom: none;
}

.profile-foto {
  height: 170px;
  width: 170px;
  margin: 0 calc(50% - 90px);
}

.profile-table {
  width: 100%;
  text-align: center;
}

.footer {
  flex: 0 0 auto;
  width: 100%;
  margin-top: auto;
  background-color: var(--main-color);
  padding: 20px 30px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-link {
  padding: 5px 10px;
}

.RSS-logo {
  height: 60px;
  width: 150px;
}

@media (max-width: 1000px) {
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}

@media (max-width: 750px) {
  .nav-list {
    flex-wrap: wrap;
    margin: 0;
  }
  .container {
    padding: 20px 0 0 5px;
  }
}

@media (pointer: fine) {
  a:hover:after {
    width: 100%;
  }

  a::after {
    position: absolute;
    content: '';
    bottom: 0;
    display: block;
    width: 0;
    height: 3px;
    background: #9349bb;
    transition: 0.3s;
    right: 0;
  }
}